@font-face {
	font-family: 'abezeh';
	font-style: normal;
	font-weight: 600;
	src: url('assets/fonts/ABeZeh/abezeh-regular.woff') format('woff'),
	url('assets/fonts/ABeZeh/abezeh-regular.svg') format('svg'),
	url('assets/fonts/ABeZeh/abezeh-regular.ttf') format('truetype');
}

@font-face {
	font-family: 'abezeh';
	font-style: normal;
	font-weight: 700;
	src: url('assets/fonts/ABeZeh/abezeh-bold.woff') format('woff'),
	url('assets/fonts/ABeZeh/abezeh-bold.svg') format('svg'),
	url('assets/fonts/ABeZeh/abezeh-bold.ttf') format('truetype');
}
